absl-py==2.1.0
accelerate==1.0.1
ace_tools==0.0
aioboto3==13.1.1
aiobotocore==2.13.1
aiofiles==23.2.1
aiohttp==3.9.5
aioitertools==0.12.0
aiosignal==1.3.1
albucore==0.0.9
albumentations==1.4.8
alembic==1.13.1
annotated-types==0.7.0
anyio==4.5.2
appdirs==1.4.4
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
banal==1.0.6
blinker==1.8.2
boto3==1.34.131
botocore==1.34.131
cachetools==5.5.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cmake==3.29.2
contourpy==1.1.1
cycler==0.12.1
dataset==1.6.2
datasets==2.19.1
deeplake==3.9.23
diffuser==0.0.1
diffusers==0.32.2
dill==0.3.8
distro==1.9.0
docker-pycreds==0.4.0
evaluate==0.4.3
exceptiongroup==1.2.2
fastapi==0.115.12
ffmpy==0.5.0
filelock==3.16.1
Flask==3.0.3
flatbuffers==24.12.23
fonttools==4.57.0
frozenlist==1.4.1
fsspec==2025.3.0
ftfy==6.1.3
gast==0.4.0
gitdb==4.0.11
GitPython==3.1.41
google-auth==2.37.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gradio==4.44.1
gradio_client==1.3.0
greenlet==3.0.3
grpcio==1.68.1
h11==0.14.0
h5py==3.11.0
hjson==3.1.0
httpcore==1.0.8
httpx==0.28.1
hub==3.0.1
huggingface==0.0.1
huggingface-hub==0.30.2
humbug==0.3.2
idna==3.10
imageio==2.34.0
importlib-metadata==7.0.1
importlib_resources==6.4.5
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.8.2
jmespath==1.0.1
joblib==1.3.2
jsonpatch==1.33
jsonpointer==3.0.0
keras==2.13.1
kiwisolver==1.4.7
langchain==0.2.17
langchain-core==0.2.43
langchain-text-splitters==0.2.4
langsmith==0.1.147
lazy_loader==0.4
libclang==18.1.1
libdeeplake==0.0.145
lit==17.0.6
login==0.0.6
lz4==4.3.3
Mako==1.3.5
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
mysql-connector-python==9.0.0
nest-asyncio==1.6.0
networkx==3.1
ninja==1.11.1.1
numpy==1.24.4
oauthlib==3.2.2
ollama==0.4.7
openai==1.61.1
opencv-python==4.9.0.80
opencv-python-headless==4.10.0.82
opt_einsum==3.4.0
orjson==3.10.15
packaging==24.2
pandas==2.0.3
pathos==0.3.2
peft==0.13.2
pgvector==0.3.6
pillow==10.4.0
pox==0.3.4
ppft==1.7.6.8
protobuf==4.25.2
psutil==5.9.7
psycopg2-binary==2.9.10
py-cpuinfo==9.0.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
Pygments==2.19.1
PyJWT==2.9.0
pynvml==11.5.0
pyparsing==3.1.4
pyre-extensions==0.0.29
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytorch-triton==3.0.0+989adb9a29
pytz==2025.2
PyWavelets==1.4.1
PyYAML==6.0.2
regex==2023.12.25
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.0.0
rsa==4.9
ruff==0.11.5
s3transfer==0.10.0
sacremoses==0.1.1
safetensors==0.4.5
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
semantic-version==2.10.0
sentencepiece==0.1.99
sentry-sdk==1.39.2
setproctitle==1.3.3
shellingham==1.5.4
six==1.17.0
smmap==5.0.1
sniffio==1.3.1
SQLAlchemy==1.4.52
starlette==0.44.0
sympy==1.12.1rc1
tenacity==8.5.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.1
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
tensorrt==8.6.1.post1
tensorrt-bindings==8.6.1
tensorrt-libs==8.6.1
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2023.7.10
tomesd==0.1.3
tomli==2.0.1
tomlkit==0.12.0
tqdm==4.67.1
typer==0.15.2
typing-inspect==0.9.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.2.3
uvicorn==0.33.0
wandb==0.16.2
wcwidth==0.2.13
websockets==12.0
Werkzeug==3.0.6
wrapt==1.16.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.20.2
